table {
  border-top: 1px solid #333;
  margin-top: 5%;
  margin-bottom: 3%;
}

.no-decoration {
  text-decoration: none;
  cursor: pointer;
}

.manage-booking-options {
  background-color: #f2f2f2;
  padding: 1rem;
  margin-bottom: 4rem;
}