new-camp {
  background-color: #f2f2f2;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 2rem;
}

.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}