<section id="booking-confirmation">
    <div class="container">
      <div class="text-end" style="margin-top: 1%;">
        <button type="button" class="btn btn-light top-bar" routerLink="/dashboard">Back to Dashboard</button>
      </div>
    </div>
    <div class="container align-items-center justify-content-center col-md-5">
      <div class="confirmation-details">
        <h4 class="text-center color">Congratulations! Your Camp is booked successfully!</h4>
        <h5 class="text-center">Camp Details</h5><br>
        <div class="row">
          <div class="col-4 text-end"><strong>Reference ID:</strong></div>
          <div class="col-8 text-center">{{reference}}</div>
        </div><br>
        <!-- <div class="row">
          <div class="col-4 text-end"><strong>Name:</strong></div>
          <div class="col-8 text-center">{{bookingDetails.title}}</div>
        </div><br> -->
        <div class="row">
          <div class="col-4 text-end"><strong>Date:</strong></div>
          <div class="col-8 text-center">{{bookingDetails.checkIn}} to {{bookingDetails.checkOut}}</div>
        </div><br>
        <div class="row">
          <div class="col-4 text-end"><strong>No. of Days:</strong></div>
          <div class="col-8 text-center">{{bookingDetails.days}}</div>
        </div><br>
        <div class="row">
          <div class="col-4 text-end"><strong>Cost:</strong></div>
          <div class="col-8 text-center">INR {{bookingDetails.cost}}</div>
        </div><br>
        <small><strong>Note:</strong> Please note the <strong>Reference ID</strong> for camp rating and cancelling purpose.</small>
      </div>
    </div>
  </section>